<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>주변 모임을 지도에서 보기 위해 위치 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>채팅에서 사진을 전송하기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NMFNcpKeyId</key>
	<string>$(NcpId)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KakaoKey)</string>
			</array>
		</dict>
	</array>
	<key>KakaoKey</key>
	<string>$(KakaoKey)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaotalk</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SeSACKey</key>
	<string>$(SeSACKey)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SCDream3.otf</string>
		<string>SCDream4.otf</string>
		<string>SCDream5.otf</string>
		<string>SCDream6.otf</string>
	</array>
</dict>
</plist>
